body{background-color: bisque;}
h1{font-size: 100px;}
h2{font-size: 20px;}
p{font-size: 15px;}
img{border:5 px blue;margin: auto;display: block;}
a{color: crimson;text-decoration: darkgrey;}
h1{color: maroon;}