body{background-color: rgb(157, 250, 180);}
table{text-align: center;border:30px solid rgb(19, 16, 62);margin: 10px;padding: 25px;}
img{margin:auto;display: block;border-radius: 400px;}
th{font-size: 35px;text-align: center;background-color: rgb(224, 37, 31);}