.a{
    background-color: blueviolet;
    height:300px;
    margin-bottom: 1%;
overflow: scroll;}
.b{
    background-color: cyan;
height: 200px;
margin-bottom: 1%;}
.c{
    background-color: red;
    height: 400px;
    margin-bottom: 1%;}
.d{
    background-color: fuchsia;
    height: 400px;
    margin-bottom: 1%;}