.box{
    background-color: rgb(244, 250, 250);
    width: 250px;
    height: 100px;
    display: block;
    margin: 40% 40%;
    overflow: hidden;
    color: rgb(223, 236, 38);
    transition: all 0.8s;
    text-align: justify;
}
img {
    height: 300px;
    width: 300px;
    position: static;
    float: left;
}
.box:hover{
    background-color: rgb(176, 13, 182);
    width: 600px;
    height: 600px;
    margin: 35% 35%;
   
}
